@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-display text-slate-800 dark:text-slate-100 bg-background-light dark:bg-background-dark;
    }
}

.herbal-gradient {
    background: linear-gradient(135deg, rgba(19, 236, 19, 0.05) 0%, rgba(255, 255, 255, 0) 100%);
}